.btn {
  background-color: $mainBlue;
  color: white;
  text-decoration: none;
  padding: .7rem 1.2rem;
  display: inline-block;

  &__orange {
    background-color: $mainOrange;
  }

  &__large {
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
  }
}