.large-hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    margin: 0;
    font-size: 1.1rem;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atMedium {
      font-size: 3.2rem;
    }

    @mixin atLarge {
      font-size: 4.8rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 3rem;
    margin: 0;
  }

  &__description {
    color: white;
    font-size: 1.875rem;
    font-weight: 100;
    max-width: 30rem;
    margin: 0 auto;
    text-shadow: 1.5px 1.5px .5px rgba(0, 0, 0, .3);
  }
}

