.row {
  overflow: auto;

  &__gutter {
    margin-right: -65px;
  }

  &__gutter-large {
    margin-right: -90px;
  }

  &__gutter > div {
    padding-right: 65px;
  }

  &__gutter-large > div {
    padding-right: 90px;
  }

  @mixin atMedium {
    &__medium-4 {
      width: 33.33%;
      float: left;
    }

    &__medium-4-wider {
      width: 36%;
    }

    &__medium-6 {
      width: 50%;
      float: left;
    }

    &__medium-8 {
      width: 66.67%;
      float: left;
    }

    &__medium-8-narrower {
      width: 64%;
    }
  }
}