.row {
  /*overflow: auto;*/

  &__t-padding {
    padding-top: 80px;
  }

  &__gutter {
    margin-right: -65px;
  }

  &__gutter-large {
    margin-right: -90px;
  }

  &__gutter-small {
    margin-right: -45px;
  }

  &__gutter > div {
    padding-right: 65px;
  }

  &__gutter-large > div {
    padding-right: 90px;
  }

  &__gutter-small > div {
    padding-right: 45px;
  }

  @mixin atMedium {
    &__medium-4 {
      width: 33.33%;
      float: left;
    }

    &__medium-4-wider {
      width: 36%;
    }

    &__medium-6 {
      width: 50%;
      float: left;
    }

    &__medium-8 {
      width: 66.67%;
      float: left;
    }

    &__medium-8-narrower {
      width: 64%;
    }
  }

  @mixin atLarge {
    &__large-4 {
      width: 33.33%;
      float: left;
    }

    &__large-4-wider {
      width: 36%;
    }

    &__large-6 {
      width: 50%;
      float: left;
    }

    &__large-8 {
      width: 66.67%;
      float: left;
    }

    &__large-8-narrower {
      width: 64%;
    }
  }

  /*Apply the same height for 3 columns in Testimonial*/
  &__equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }

  &__equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }
    & > div {
      float: none;
      display: flex;
    }
  }
}